<%- include('partials/header'); -%>
<div class="container">
<h1>
  Compose
</h1>

<form action="/compose" method="post">
  <label for="">Title</label>
  <br>
<input class="form-control" type="text" name="postTitle" id="" autocomplete="off">
<br>
<label for="">Post</label>
<br>
<textarea class="form-control" name="postBody" id="" cols="100" rows="5" autocomplete="off"></textarea>
<br>
<button class="btn btn-dark" type="submit" >publish</button>
</form>
</div>



<%- include('partials/footer'); -%>